/* ##################################################
    Pond Reset - Start everything with a clean slate
   ################################################## */

html, body, div, span, applet, object, iframe, h1, 
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, .overlaycaption, figure, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%; }
    
ol, ul  { list-style: none; }

:focus  { outline: 0; }

/* deleting the default appearence for form elements */


.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.clearfix { *display: inline-block; height: 1%; }
.clear { clear: both; display: block; font-size: 0; height: 0; line-height: 0; width:100%; }

/* HTML5 display definitions */
article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; visibility: hidden; }

/* ############################################ */
p {
	display: inline-block;
}
	p.small {
		display: block;
		font-size: 11px;
	}

i.fa-eject { /* Rotate the icon to make it the frame-advance button */
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
			transform: rotate(90deg);
}

select, input, button {
	display: inline-block;
	float: right;
}

#content-window {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
	.cell-row {
		display: block;
		height: 30px;
	}
	.cell-row:first-of-type {
		border-top: 1px solid black;
	}
	.div-cell:first-child {
		border-left: 1px solid black;
	}
.div-cell {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 30px; 
	height: 30px; /* Testing Only! */
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	background-color: transparent;
	color: transparent;
	float: left;
}
	.active {
		background-color: black;
		color: black;
	}





#control-panel {
	position: fixed;
	width: 300px;
	top: -265px;
	right: 0;
	margin: 0 10px;
	margin-bottom: 25px;
	padding: 10px;
	background-color: #dddddd;
	border: 1px solid #999999;
	border-top: none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-transition: top 1s ease-in-out;
	-moz-transition: top 1s ease-in-out;
	-ms-transition: top 1s ease-in-out;
	-o-transition: top 1s ease-in-out;
	transition: top 1s ease-in-out;
}
	#control-panel:hover {
		top: 0;
	}
	#control-panel hr {
		margin-top: 28px;
	}

.controls li {
	display: block;
	padding: 5px 0;
}
	#seed-input {
		-moz-appearance:textfield;
		width: 35%;
	}
	#cell-span {
		display: inline-block;
		float: right;
	}
		#cell-size {
			-moz-appearance:textfield;
			float: none;
			width: 20px;
		}
	#cell-size::-webkit-outer-spin-button,
	#cell-size::-webkit-inner-spin-button,
	#seed-size::-webkit-outer-spin-button,
	#seed-size::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
