body {
    background-color: black;
}

#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("../img/board.jpg") no-repeat;
}

#message-area {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(83, 175, 19);
}

table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0;
}
    tr {
        height: 97px;
    }
    td {
        width: 96px;
        height: 94px;
    }

form {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px;
    background-color: rgb(83, 175, 19);
    z-index: 100;
}
    form input {
        background-color: rgb(152, 207, 113);
        border-color: rgb(83, 175, 19);
        font-size: 1em;
    }
    .form-control {
        width: 70% !important;
        margin-right: 5%;
    }

.hit {
    background: url("../img/ship.png") no-repeat center center;
}

.miss {
    background: url("../img/miss.png") no-repeat center center;
}